{% extends 'base.html' %}

{% block head %} 
<title>RidesmartFL Dashboard</title>
{% endblock %}

{% block body %} 
<h3>Filters</h3>
<form action='/dashboard' method="POST">
    Year:
    <select name="year" id="year" method="GET" action="/">
        <option value="0" selected>--Select Year--</option>
        {% for year in years[:] %}
        <option value= "{{year}}" >{{year}}</option>"
        {% endfor %}
    </select>
    District: 
    <select name="district" id="district" method="GET" action="/">
        <option value="0" selected>--Select district--</option>
        {% for district in districts %}
        <option value= "{{district}}" >District {{district}}</option>"
        {% endfor %}
    </select>
    County:
    <select name="county" id="county" method="GET" action="/">
        <option value="0" selected>--Select County--</option>
        {% for county,count in zip(counties, range(1,100)) %}
        <option value= "{{count}}" >{{county}}</option>"
        {% endfor %}
    </select>
    <input type='submit' value='Post'>
</form>

<h1>Data from dict</h1><hr>
{% for dt in mc_data %}
    <h3>Year: {{dt.year}}</h3>
    <h3>Fatalities: {{dt.fatalities}}</h3>
    <hr>
{% endfor %}

{% endblock %}